.idea
venv
site/
.debug
.vscode
nir_analysis.ipynb
__pycache__/
*.py[cod]
dist/
build/
.DS_store
.ipynb_checkpoints/
tests/eeg_different_formats/spheroid_*
tests/eeg_different_formats/OldEphyr_sweeps
tests/eeg_different_formats/gitignore_*
../../NIR/_experiments.ipynb
../../NIR/_experiments_tg.ipynb
*_ephyr/
TODO.txt
tests/eeg_different_formats/IntanRHS_XDAQ/*
tests/eeg_different_formats/OldEphyr/*
../../NIR/importrhsutilities.py
.debug/*
!.debug/lfp.header.example.json
add_on_development/
test.py
devtools/NIR
.python-version
ephyr.egg-info
